* {
  font-family: 'Open Sans', sans-serif;
  font-family: 'Poppins', sans-serif;
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
  list-style: none;
}
.text-primary {
  color: #fd6e0a;
}
.btn-primary {
  font-weight: 700;
  background-color: #fd6e0a;
  padding: 15px 35px;
  border-radius: 5px;
  border: none;
  color: white;
  cursor: pointer;
}
.btn-secendary {
  font-weight: 700;
  color: white;
  padding: 15px 35px;
  border-radius: 5px;
  border: 2px solid #fd6e0a;
  background-color: #908c8a;
  cursor: pointer;
}
.btn:hover {
  background-color: transparent;
  border: 1px solid black;
  transition: 0.5s;
  color: #fd6e0a;
}
header {
  background-color: #908c8a;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 150px;
}
.nav-title {
  font-size: 45px;
  letter-spacing: 10px;
}
nav > ul {
  display: flex;
  align-items: center;
}
nav > ul > li {
  padding: 5px 10px;
  font-size: 20px;
}
nav > ul > li > a {
  text-decoration: none;
  color: #474747;
}
nav > ul > li > a:hover {
  color: #fd6e0a;
  transition: 0.5s;
}
.hero-area {
  padding: 70px 30px 0 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: url(../images/header_bg.png);
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 700px;
}
.hero-img {
  width: 470px;
  display: flex;
  align-items: end;
}
.hero-img img {
  width: 100%;
  margin-bottom: 0;
  margin: -5px;
}
.hero-content h3 {
  font-size: 35px;
}
.hero-content h2 {
  font-size: 45px;
  padding: 10px 0;
}
.hero-content p {
  font-size: 20px;
  padding-bottom: 10px;
}
.dev {
  position: absolute;
  transform: rotate(-90deg);
  top: 268px;
  left: -266px;
  font-size: 70px;
  color: #a4a3a1;
  font-weight: 800;
  letter-spacing: 20px;
}
main {
  width: 90%;
  margin: auto;
}
.about-section {
  background: #fff8f3;
  padding: 70px;
  margin-top: 65px;
  margin-bottom: 100px;
}
.title {
  color: #181818;
  text-align: center;
  font-size: 35px;
  font-weight: 700;
  line-height: normal;
  padding-bottom: 21px;
}
.content {
  color: #757575;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
}
.about-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 17px;
}
.child-box {
  text-align: center;
}
.child-box p {
  color: #757575;
  font-family: Open Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 150% */
}
.child-box h3 {
  color: #474747;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
}
.what-i-do {
  margin-bottom: 100px;
}
.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}
.child-card {
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
  padding: 30px;
}
.card-title {
  padding: 15px 0;
}
.card-content {
  color: #757575;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px; /* 175% */
  width: 201px;
}
.summary-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}
.summary-title {
  padding-bottom: 40px;
}
.summary-box hr {
  margin: 10px 0;
}
.child-summary-box {
  padding-bottom: 18px;
}
.child-summary-box h2 {
  color: #474747;
  font-size: 30px;
  font-weight: 700;
  padding-bottom: 12px;
}
.child-summary-box h3 {
  color: #474747;
  font-size: 25px;
  font-weight: 700;
  padding-bottom: 10px;
}
.child-summary-box .date {
  color: #757575;
  font-size: 20px;
  font-weight: 600;
  padding-bottom: 8px;
  display: inline-block;
}
.summary-content {
  color: #757575;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px; /* 175% */
  width: 511px;
}
.CV {
  display: block;
  margin: auto;
}
footer {
  margin-top: 100px;
  background: #fff8f3;
  padding: 100px 0;
}
.footer {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
}
.f-content h2,
.f-form h2 {
  color: #181818;
  font-size: 35px;
  font-weight: 700;
  padding: 15px 0;
}
.f-content small {
  color: #474747;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px; /* 175% */
  padding: 7px 0;
  display: block;
}
input {
  width: 323px;
  height: 35px;
  padding: 0 14px;
  background-color: white;
  margin-bottom: 10px;
  border: none;
  outline: none;
}
textarea {
  width: 323px;
  padding: 0 14px;
  border: none;
  outline: none;
  background-color: white;
  margin-bottom: 15px;
}

/* responsive style here */

/* Mobile Device Responsive or small */
@media screen and (max-width: 576px) {
  /* header style */
  nav {
    padding: 5px 22px;
  }
  .nav-title {
    font-size: 30px;
    letter-spacing: 0;
  }
  nav > ul > li {
    padding: 5px 5px;
    font-size: 15px;
  }
  .hero-area {
    padding: 30px 20px;
    flex-direction: column-reverse;
    align-items: center;
    background-image: none;
  }
  .hero-img {
    width: 100%;
    display: flex;
    align-items: end;
    justify-content: center;
  }
  .dev {
    display: none;
  }
  .hero-img img {
    width: 80%;
  }
  .btn-primary {
    padding: 3px 10px;
  }
  .hero-content {
    padding: 10px;
    text-align: center;
  }
  .hero-content h3 {
    font-size: 20px;
    display: inline;
  }
  .hero-content h2 {
    font-size: 25px;
    padding: 2px 0;
    display: inline;
  }
  .hero-content p {
    font-size: 15px;
    padding: 13px 0px 20px;
  }
  .btn-secendary {
    padding: 3px 31px;
    border: 1px solid orange;
  }

  /* main style */
  main {
    width: 100%;
  }
  .title {
    color: #181818;
    text-align: center;
    font-size: 25px;
    padding-bottom: 5px;
  }
  .content {
    font-size: 15px;
  }
  .about-box {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 6px;
  }
  .child-box {
    text-align: center;
    padding-bottom: 5px;
  }
  .child-box p,
  .child-box h3 {
    display: inline;
  }
  .child-box p {
    font-size: 16px;
  }
  .child-box h3 {
    font-size: 18px;
  }
  .about-section {
    padding: 20px;
    margin-top: 0px;
    margin-bottom: 20px;
  }
  .what-i-do {
    margin-bottom: 20px;
    padding: 20px;
  }
  .card {
    width: calc(100%-10px);
    padding: 0 20px;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    gap: 7px;
  }
  .child-card {
    padding: 10px;
  }
  .card-title {
    padding: 9px 0;
  }
  .card-content {
    line-height: 20px;
  }
  .child-summary-box h2 {
    font-size: 22px;
    padding-bottom: 5px;
  }
  .child-summary-box h3 {
    font-size: 15px;
    padding-bottom: 5px;
  }
  .summary-content {
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
  }
  .child-summary-box .date {
    font-size: 15px;
    font-weight: 600;
    padding-bottom: 5px;
  }
  .summary {
    padding: 0 20px;
  }
  .summary-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
  }
  /* footer style */
  footer {
    width: 100%;
    margin-top: 20px;
    padding: 100px 0;
  }
  .footer {
    padding: 0 20px;
    flex-direction: column;
    width: calc(100%-20px);
  }
  .f-content h2,
  .f-form h2 {
    font-size: 25px;
    padding: 9px 0;
  }
  .f-content small {
    font-size: 15px;
    line-height: 20px;
    padding: 0px 0px;
  }
}
